<!-- about.njk -->

{% extends "layout.njk" %} {% block content %}

{{ nav.current('about') }}

<main class="container">
	<article id="about">
		<h2>
			<span class="fas fa-microchip" aria-hidden="true"></span>
			About Tim
		</h2>

		<img class="avatar" alt="Profile picture of Tim" src="./images/avatar.jpg" />

		<p>
			Tim is a confident front-end web developer with experience in back-end &amp; software
			development who also offers impartial advice on web solutions. A perpetual learner with
			a genuine passion for technology, science, learning and DIY.
		</p>

		<div style="clear: both" role="none"></div>

		<hr />

		<p>
			I've been working with technology from a very young age and have been writing code
			professionally since 2014. In this time, the majority of my roles have focussed on
			developing new and existing products and services, utilising front-end technologies as
			well as opportunities to work with back-end technologies on occasion. I've also worked
			on tools for process automation and streamlining processes using various desktop
			technologies.
		</p>

		<p>
			The technologies I leverage the most in my time writing code would include HTML5, CSS3,
			Javascript, jQuery, XML, GIT, Moodle, SCORM.
		</p>

		<p>
			Some other skills I have used along the way but have less experience with would include
			ReactJS, NodeJS, PHP, C#, VSB, Bash/PowerShell, Adobe CC suite.
		</p>

		<p>
			Since 2018 I have been a Team Leader, where on top of my existing development duties
			I've been managing at an operational level as well as mentoring team mates in Junior Dev
			and Apprenticeship roles.
		</p>

		<p>Some of of the work I am most proud of from my time as a developer would include:</p>

		<ul class="arrow">
			<li>Working on a scientific calculator to be used with digital assessment.</li>
			<li>
				Developing an assessment authoring platform with online and offline delivery and
				export options.
			</li>
			<li>
				Producing the "Spreadsheet", "Slides" and "Word Processor" question types where
				attempt data can be stored and retrieved from Moodle.
			</li>
		</ul>

		<hr />

		<p>
			From a young age, I've has had a fascination with technology and can&apos;t remember a
			time when I wasn&apos;t tinkering with, taking apart or breaking things.
		</p>

		<p>
			I can usually be found playing around and experimenting on Debian (home server),
			<a href="https://pop.system76.com/">Pop!_OS</a>
			(personal/gaming machine) and RaspianOS (for various Pi's), as well as Windows 10 (work
			laptop) for my main development tasks.
		</p>

		<p>
			<strong>Likes</strong>: writing code, solving puzzles, telling jokes, playing bass
			guitar, DIY projects, and enthusing about science, electronics &amp; technology.
		</p>

		<p>
			<strong>Dislikes</strong>: being late, being untidy or unorganised, using/developing for
			Internet Explorer, tab VS spaces, odd numbers.
		</p>

		<p>
			If you want to get in touch you can find me online with the links in the Footer, email
			me on
			<a href="mailto:hi@timbryan.dev">hi@timbryan.dev</a> or use the contact form below.
		</p>
	</article>
</main>
{% endblock %}
