<!-- awards.njk -->

{% extends "layout.njk" %} 

{% block content %} 

{{ nav.current('awards') }}

<main class="container">
	<article id="awards" class="card">
		<h2>
			<span class="fas fa-award" aria-hidden="true"></span>
			Testimony
		</h2>
		<section>
			<h3>Leonardo Casillas Msc</h3>
			<p>
				<time datetime="2015-06-09">Jun 2015</time> - HND Computing Lecturer at The Trafford
				College Group
			</p>
			<blockquote>
				<p>
					I have had the pleasure of knowing Tim for 2 years. During the years of our
					acquaintance, I have known Tim in many capacities. He has been my Student at
					Stockport College. His IT knowledge and skills have grown in an Excellent level,
					I recommend him as an excellent Web Developer.
				</p>
			</blockquote>
		</section>
		<h2><span class="fas fa-award" aria-hidden="true"></span> Awards</h2>
		<section>
			<h3>BPP Thank You Award</h3>
			<p><time datetime="2019-10-01">Oct 2019</time> • BPP</p>
		</section>
		<br />
		<section>
			<h3>Ownership &amp; Accountability</h3>
			<p><time datetime="2019-01-01">Jan 2019</time> • Heather Gough - BPP</p>
			<blockquote>
				<p>
					You have been nominated several times (including by external teams at BPP) for
					the great work you do, and for how you drop your own work to help others with
					critical tasks, with a can-do attitude. Several mentions of how
					<q>nothing is too much trouble</q> and how supportive you are, whilst always
					delivering and exceeding expectations.
				</p>
				<p>Thanks for all your continued hard work!</p>
			</blockquote>
		</section>
		<br />
		<section>
			<h3>BPP Above and Beyond Award</h3>
			<p><time datetime="2018-10-01">Oct 2018</time> • BPP</p>
		</section>
		<br />
		<section>
			<h3>Innovation</h3>
			<p><time datetime="2016-06-01">Jun 2016</time> • Jeremy Bodey - BPP</p>
			<p>Building new and innovative question types for online assessments:</p>
			<ul class="arrow">
				<li>Word Processor question type</li>
				<li>Spreadsheet question type</li>
				<li>
					Various assessment templates and features including such as the scientific
					calculator
				</li>
			</ul>
			<blockquote>
				<p>
					Thanks for your efforts on the new question types! You have really shown some
					innovative thinking in coming up with a range of solutions!
				</p>
			</blockquote>
		</section>
		<br />
	</article>
</main>

{% endblock %}
