<!-- index.njk -->

{% extends "layout.njk" %} 

{% block content %}

{{ nav.current('home') }}

<main class="container">
	<article id="about">
		<h2>
			<span class="fas fa-microchip" aria-hidden="true"></span>
			About Tim
		</h2>
		<img class="avatar" alt="Profile picture of Tim" src="./images/avatar.jpg" />
		<p>
			Confident front-end web developer with experience in back-end &amp; software development
			who also offers impartial advice on web solutions. A perpetual learner with a genuine
			passion for technology, science, learning and DIY. To find out more about Tim, visit the
			<a href="/about">About Tim</a> section.
		</p>

		<div style="clear: both" role="none"></div>
		<p>
			If you want to get in touch you can find me online with the links in the Footer, email
			me on
			<a href="mailto:hi@timbryan.dev">hi@timbryan.dev</a> or use the
			<a href="#contact"> contact form</a> below.
		</p>
	</article>
</main>
{% endblock %}
